stages:
  - deploy

deploy_frontend:
  stage: deploy
  image: ubuntu:latest
  before_script:
    - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
    - eval $(ssh-agent -s)
    - echo "$SSH_PRIVATE_KEY" | tr -d '\r' > private_key.pem
    - chmod 600 private_key.pem
    - ssh-add private_key.pem
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config

  script:
    - echo "Frontend deploy ediliyor..."
    
   
    
    
    - |
      ssh ubuntu@$SERVER_IP "
        set -e
        sudo docker stop auth-frontend || true
        sudo docker rm auth-frontend || true
        rm -rf auth-frontend
        
        git clone https://$DEPLOY_USER:$DEPLOY_PASS@gitlab.com/oguztoy/auth-frontend.git
        cd auth-frontend
        
        # Değişkeni tırnak içine aldık ('$...') ki boşluk vs varsa bozulmasın
        sudo docker build \
          --build-arg REACT_APP_API_URL='$REACT_APP_API_URL' \
          -t auth-frontend-image .
        
        sudo docker run -d -p 3001:3000 --name auth-frontend auth-frontend-image
      "