version: '3.8'

services:
  db:
    image: postgres:15
    container_name: auth-db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: authdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - auth-network
    restart: always


networks:
  auth-network:
    driver: bridge

volumes:
  postgres_data: